@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'),
         local('OpenSans-Regular'),
         url('fonts/OpenSans-Regular.woff') format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
}

body.dark {
  background-color: #28353b;
}

header, footer {
    /* Center-align header and footer */
    text-align: center;
}

h1, h2, h3, h4, hr, p, li {
  transition: color 0.5s;
}

h1.dark, h2.dark, h3.dark, h4.dark, hr.dark, p.dark, li.dark {
  color: #f3f3f3;
}

h1, h2 {
    /* Non-bold main headers */
    font-weight: normal;
}

h3 {
    /* Bold, non-italic, normal sized title */
    font-weight: bold;
    font-style: normal;
    font-size: inherit;

    /* No space between title and sub-title */
    margin-bottom: 0;
}

h4 {
    /* Non-bold, italic, normal sized sub-title */
    font-weight: normal;
    font-style: italic;
    font-size: inherit;

    /* No space around sub-title */
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    /* Divider between top-level sections */
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media print {
    /* Expand to full page in printed pages, fix font size */
    body {
        font-size: 12px;
        margin: initial;
        max-width: initial;
        padding: initial;
    }

    /* Hide footer in printed pages */
    footer {
        display: none;
    }

    button.toggledark {
      display: none;
    }
}

a {
  transition: color 0.5s;
}

a.dark {
  color: #fcb719;
}

button {
  border: 0px solid;
  background-color: inherit;
  transition: color 0.5s, background-color 0.5s;
}

button.dark {
  color: #f3f3f3;
  background-color: inherit;
}
